
@{
    ViewBag.Title = "SecondViewMethod";
}
@model List<string>
<table>
    <thead>
        <tr>
            <th>Отсортированный список овощей</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var vegetable in Model)
        {
            <tr>
                <td>
                    @vegetable
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>SecondViewMethod</h2>

